# Variables comunes
AML_WORKSPACE=
AML_RESOURCE_GROUP=
ACR_NAME=
APPINSIGHTS_CONNECTION_STRING=
LOG_LEVEL=INFO
# Tiempo de espera para clientes HTTP (segundos)
ONLINE_TIMEOUT=5
# Identificador de modelo preferido
MODEL_NAME=
