# Núcleo científico
numpy>=1.23
scipy>=1.15.1,<1.16      # <-- clave: evita el error 'lazywhere' con statsmodels 0.14.x  :contentReference[oaicite:4]{index=4}
pandas>=1.5

# ML tradicional
scikit-learn>=1.2
joblib>=1.2

# AutoML
flaml[automl]>=2.0.0
mljar-supervised>=1.1.15  # requiere statsmodels vía category-encoders  :contentReference[oaicite:5]{index=5}
category-encoders>=2.6.3
statsmodels>=0.14.3,<0.15  # usa SciPy <1.16 por compatibilidad  :contentReference[oaicite:6]{index=6}
lightgbm
onnx==1.16.0
onnxruntime==1.18.0
skl2onnx==1.19.1
onnxmltools==1.13.0
matplotlib>=3.5.0
sweetviz
pyarrow>=10.0
openml
sqlalchemy
pyspark>=3.3
py4j>=0.10
abess
shap
