fastapi==0.111.0
uvicorn==0.30.1
pydantic==1.10.15
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
flaml[automl]==2.1.1
optuna==3.6.1
joblib==1.4.2
filelock==3.14.0
azure-functions==1.21.3
azure-functions-fastapi==1.7.0
python-multipart==0.0.9
xgboost==1.7.6
lightgbm==4.3.0
